<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/81b9f279a1.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h2>Portfolio</h2>
            </div>
            <div>
                <ul>
                    <li class="{% if request.path == '/' %} active {% endif %}" ><a href="/">Home</a></li>
                    <li class="{% if request.path == '/skills/' %} active {% endif %}"><a href="/skills/">Skills</a></li>
                    <li class="{% if request.path == '/projects/' %} active {% endif %}"><a href="/projects/">Projects</a></li>
                    <li class="{% if request.path == '/academics/' %} active {% endif %}"><a href="/academics/">Academics</a></li>
                    <li class="{% if request.path == '/contact-me/' %} active {% endif %}"><a href="/contact-me/">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>

</html>