{% extends "base.html" %}

{% block content %}
<section class="main main-skills">
    <div class="welcome">
        <h3>
            <div>
                Namaskar
                <span><i class="fa-solid fa-hands-praying"></i></span>
            </div>
            <p>Welcome to <b>Sujeet's</b> Portfolio</p>
        </h3>
    </div>
    <div class="hr"></div>
    <h2 class="heading">Skills</h2>
    <div class="skills">
        <div class="soft-skills">
            <h2>Soft Skills</h2>
            <div>
                <ul>
                    <li>Strong organizational and time management skills</li>
                    <li>Good communication and interpersonal skills</li>
                    <li>Ability to work independently and as a part of team</li>
                    <li>Detail-oriented and able to handle multiple task simultaneously</li>
                </ul>
            </div>
        </div>
        <div class="technical-skills">
            <h2>Technical Skills</h2>
            <div>
                <ul>
                    <li>C - Programming Language</li>
                    <li>Java</li>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Django</li>
                    <li>Data Structure & Algorithm</li>
                    <li>Git & Github</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}