{% extends "base.html" %}

{% block content %}
{% load static %}
<section class="main main-academics">
    <div class="welcome">
        <h3>
            <div>
                Namaskar
                <span><i class="fa-solid fa-hands-praying"></i></span>
            </div>
            <p>Welcome to Sujeet's Portfolio</p>
        </h3>
    </div>
    <div class="hr"></div>
    <h2 class="heading">Academics</h2>
    <div class="academics">
        <div class="academic-box">
            <h3>HKBK College of Engineering</h3>
            <div class="academics-info">
                <img src="{% static 'images/college.jpg' %}" alt="unavailable">
                <div class="academics-design">
                    <p>To know more about college click here</p>
                    <a href="https://www.hkbk.edu.in/" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <p>2021 - Ongoing <br> Computer science & Engineering, 9.02 CGPA till 3rd Sem</p>
        </div>
        <div class="academic-box">
            <h3>Shershah College</h3>
            <div class="academics-info">
                <img src="{% static 'images/college.jpg' %}" alt="unavailable">
                <div class="academics-design">
                    <p>To know more about college click here</p>
                    <a href="https://shershahcollege.co.in/" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <p>2018 - 2020 <br> Passed out Intermediate (12th) with 80% from BSEB</p>
        </div>
        <div class="academic-box">
            <h3>Central English School</h3>
            <div class="academics-info">
                <img src="{% static 'images/college.jpg' %}" alt="unavailable">
                <div class="academics-design">
                    <p>To know more about school click here</p>
                    <a href="https://cessasaram.in/" target="_blank"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <p>2018 <br> Passed out Intermediate (10th) with 80% from CBSE</p>
        </div>
    </div>
</section>
{% endblock content %}