<html>

<body>
    <footer>
        <div class="footer">
            <div class="list">
                <h3>Policy List</h3>
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Contact Me</a></li>
                </ul>
            </div>
            <div class="list">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="">Linkedin</a></li>
                    <li><a href="">Internshala</a></li>
                    <li><a href="">Twitter</a></li>
                </ul>
            </div>
            <div class="list">
                <h3>Menu</h3>
                <ul>
                    <li><a href="">home</a></li>
                    <li><a href="">about us</a></li>
                    <li><a href="">disclaimer</a></li>
                </ul>
            </div>
        </div>
        <div class="hr"></div>
        <div class="footer-content">
            <p>Developed by Sujeet_SM_Patel, <br>@2023, All rights reserved</p>
        </div>
    </footer>
</body>

</html>